@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

/* base styles */

:root {
  --preHover: rgba(231, 231, 231, 0.829);
  --textColor: #ffffff;
  --transitionTime: 0.2s;
  --textColor2: #ffffffc9;
  --typeWriterWidth: 670px;

  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 50, 219, 130;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

* {
  margin: 0px;
  font-family: Arimo;
  color: var(--textColor);
  box-sizing: border-box;
}

*:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}


html {
  scroll-behavior: smooth;
}

body {
  background-attachment: fixed;
  overflow-x: hidden;
}

/* decoration */
.seperator {
  background-image: linear-gradient(to right, #2781bd 0%, rgb(43, 71, 163)  100%);
  margin: -10px auto 20px;
  max-width: 6%;
  height: 3px;
}


.background-div {
  background: rgb(6,13,31);
  background: linear-gradient(0deg, rgb(9, 19, 44) 0%, rgb(5, 52, 109) 100%);
  height: 100%; width: 100%;  
  position: fixed; top: 0px; left: 0px; 
  z-index: -10;
}

.circle {
  z-index: -1;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 60%;
  top: 150%;
  border-radius: 50%;
  background: linear-gradient(to right bottom, #2781bdbb, #2781bd36)
}

.frosted-glass {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .15);
  
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-top: 2px solid rgba(225, 225, 225, 0.2);
  border-right: 2px solid rgba(225, 225, 225, 0.1);
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradients-container {
  filter: url(#goo) blur(40px) ;
  width: 100%;
  height: 100%;
}

.g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: center center;
  animation: moveVertical 30s ease infinite;

  opacity: 0.4;
  z-index: -1;
}

.g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;

  opacity: 0.4;
  z-index: -1;
}

.g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);

  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;

  opacity: 0.4;
  z-index: -1;
}

.g4 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;

  opacity: 0.4;
  z-index: -1;
}

.g5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));

  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;

  opacity: 0.6;
}


/* app begin */

.App {
  max-width: 80%;
  margin: 0 auto;
}

/* Navbar */

.Navbar {
  display: flex;
  justify-content: center;
  height: 100px;
}

.navbar-content-holder {
  position: fixed;
  z-index: 10;
  margin: 20px 0;
  height: 60px;
  width: auto;
}

.links {
  display: flex;
  height: 100%;
  width: 600px;
  align-items: center;
  justify-content: space-evenly;
}

.links a {
  color: var(--preHover);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: var(--transitionTime);
  margin: 10px 0;
}

.links a:hover {
  color: var(--textColor);
}


/* Intro */
.intro {
  margin: 8% auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.intro .intro-section {
  flex-basis: 800px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro .intro-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro .profile-picture {
  animation: 4s 0s 1 slideInFromRight;
  width: 500px;
  height: 500px;
  flex-shrink: 0;
  margin: 10px;
  background-image: url('images/LucianCheng.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 50%;
}

.intro .intro-greeting {
  position: relative;
  font-size: 100px;
  font-weight: bold;
  border-right: 5px solid rgba(255,255,255,.75);
  animation: typewriter 1.5s steps(12) 4s 1 normal both, blinkTextCursor 1000ms steps(12) infinite normal;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: var(--typeWriterWidth);}
}
@keyframes blinkTextCursor{
  0%{border-right-color: rgba(255,255,255,.75);}
  49%{
    border-right-color: rgba(255,255,255,.75);
  }
  50%{
    border-right-color: transparent;
  } 100% {border-right-color: transparent;}
}

.intro-background {
  animation: 4s 0s 1 slideInFromLeft;
  text-align: center;
  margin: 15px 0;
  font-size: 30px;
  color: var(--preHover);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  } 
  25% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  25% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
         

.resume-button {
  align-items: center;
  padding: 15px 35px;
  text-decoration: none;
  background-image: linear-gradient(to right, #2781bd 0%, rgb(43, 71, 163)  51%, #2781bd  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  transition: 0.3s;
  background-size: 200% auto;          
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 10px;
  transition: var(--transitionTime);
  color: var(--preHover);
}

.resume-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: var(--textColor);
  text-decoration: none;
  transform: scale(1.05);
}

.intro-links {
  margin: 5px 0;
  display: flex;
  align-items: center;
  animation: 4s 0s 1 slideInFromLeft;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro-link-images {
  margin: 0 10px;
  transition: var(--transitionTime);
  font-size: 50px;
}

.intro-link-images:hover .social-link{
  color: var(--textColor);
}

.social-link {
  color: var(--preHover);
  transition: var(--transitionTime);
}

.intro-link-images:hover {
  transform: scale(1.1);
}

/* about */
.about {
  margin: 12% auto;
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-background-info {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h3 {
  text-align: center;
  font-size: 35px;
  margin: 70px 0 10px;
}

.about-background-info>p {
  margin: 20px 0;
  width: 80%;
  text-align: center;
  font-size: 18px;
  color: var(--textColor2);
}


.about-background-info-skill {
  display: flex;
  align-items: center;
  margin: 20px 0;
  width: 40%;
}

.skill-image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin: 10px;
  width: 80px;
  height: 80px;
}

.skill-image i {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2)); 
}

.skill-text-container {
  display: flex;
  flex-direction: column;
}

.skill-description {
  font-size: 20px;
  margin: 20px;
  max-width: 60%;
  width: 100%;
}

.techstack-section h4 {
  font-size: 22px;
  color: var(--preHover);
  margin: 50px 0 10px;
  text-align: center;
}

.techstack-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.techstack-single-img {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2)); 
  margin: 10px;
  transition: 0.2s;
}

.techstack-single-img:hover {
  transform: scale(1.1);
}


/* experience */

.experience {
  margin: 12% auto;
  padding: 20px;
}

.timeline {
  margin-top: 100px;
  position: relative;
  max-width: 100%;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  /*background: #50b0ff;*/
  background-image: linear-gradient(rgba(255, 254, 253, 0) 0%, #2781bd 5%, #2781bd 95%, rgba(255, 254, 253, 0) 100%);
  margin-left: -3px;
  top: 0;
  left: 50%;
  z-index: 1;
}

.dot {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #2781bd;
  border-radius: 50%;
  display: inline-block;
  right: -20px;
  top: 40%;
  z-index: 1;
}

.right-container .dot {
  left: -20px;
}


.timeline-container {
  padding: 5px 50px;
  position: relative;
  width: 50%;
}

.timeline-container-textbox {
  padding: 10px 20px;
}

.timeline-container-textbox h3{
  margin: 10px 0;
  font-size: 22px;
}

.timeline-container-desc {
  margin: 15px 0 10px;
  color: var(--preHover);
  font-size: 16px;
}

.timeline-skills-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.timeline-skill {
  margin: 5px;
  transition: 0.3s;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2)); 
}

.timeline-position {
  margin: 2px 0;
  font-size: 18px;
}

.timeline-skill:hover {
  transform: scale(1.05);
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

/* projects */

.projects {
  margin: 12% auto;
  padding: 20px;
}

.projects-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.project-dock {
  height: 500px;
  width: 400px;
  margin: 20px;
  text-decoration: none;
  transition: ease-out var(--transitionTime);
}

.project-image {
  margin: 20px 20px;
  height: 250px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.project-title {
  text-align: center;
  font-size: 20px;
}

.project-desc {
  text-align: center;
  font-size: 16px;
  color: var(--preHover);
  height: 75px;
  margin: 8px 20px;
}

.project-skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-skills i {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2)); 
  margin: 10px 5px;
}

.project-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-project-img {
  margin: 10px 10px;
  color: var(--preHover);
  transition: 0.3s;
}

.view-project-button {
  color: var(--preHover);
  transition: 0.3s;
}

.project-dock:hover {
  transform: translate(0, -3px);
}

.project-dock:hover .view-project-button {
  color: var(--textColor);
}


.project-dock:hover .view-project-img {
  color: var(--textColor);
}

/* contact */

.contact {
  margin: 12% auto;
  padding: 20px;
}

.contact-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact-info {
  width: 350px;
}

.contact-info h3 {
  font-size: 35px;
}

.contact-form {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.conact-socials-container {
  display: flex;
}

.contact-social {
  display: flex;
  text-decoration: none;
  align-items: center;

  margin: 20px;
  margin-left:0px;
}

.contact-social:hover .contact-social-img {
  color:var(--textColor);
}

.contact-social:hover .contact-social-text {
  color:var(--textColor);
}

.contact-social-img {
  transition: var(--transitionTime);
  color: var(--preHover);
}

.contact-social-text {
  transition: var(--transitionTime);
  margin: 10px;
  color: var(--preHover);
}

.contact-socialmedia-container {
  display: flex;
}

.contact-socialmedia-img {
  color: var(--preHover);
  margin-right: 15px;
  transition: var(--transitionTime);
}

.contact-socialmedia-img:hover {
  color: var(--textColor);
  transform: scale(1.1);
}

.contact-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

form input, form textarea {
  width: 90%;
  margin: 15px auto;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 15px;
  color: black;
}

form button {
  padding: 15px 35px;
  width: 150px;
  text-decoration: none;
  background-image: linear-gradient(to right, #2781bd 0%, rgb(43, 71, 163)  51%, #2781bd  100%);
  margin: 10px 0;
  margin-right: 20%;
  padding: 15px 45px;
  text-align: center;
  transition: 0.3s;
  background-size: 200% auto;          
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border: none;
  border-radius: 10px;
  transition: var(--transitionTime);
  color: var(--preHover);
}

form button:hover {
  background-position: right center; /* change the direction of the change here */
  color: var(--textColor);
  text-decoration: none;
  transform: scale(1.05);
  cursor: pointer;
}

/* footer */

.footer {
  margin: 12% auto 4%;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}


.footer-title h3 {
  margin: 0 0 10px;
  font-size: 25px;
}

.footer-title p {
  color: var(--preHover);
  margin: 8px 0;
  font-size: 17px;
}

.footer-social-links {
  margin: 30px 0 0;
}

.footer-nav {
  margin-left: 30%;
}

.footer-links a {
  text-decoration: none;
  color: var(--preHover);
  transition: var(--transitionTime);
  font-size: 17px;
}

.footer-links a:hover {
  color: var(--textColor);
}

.footer-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-bottom {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.send-status {
  font-size: 15px;
  color: var(--preHover);
}

.send-success {
  color: rgba(81, 223, 135, 0.815); 
}

.send-error {
  color: rgba(223, 81, 81, 0.815); 
}


/* Responsiveness */

@media screen and (max-width: 650px) {
  .App {
    max-width: 100%;
  }
  .timeline{
    margin: 50px auto;
  }

  .timeline::after {
    left: 31px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .right-container {
    left: 0;
  }

  .left-container .dot, .right-container .dot {
    left: 11px;
  }

  .intro .intro-greeting {
    font-size: 60px;
    --typeWriterWidth: 440px;
  }

}

@media screen and (max-width: 1700px) {

  .intro .profile-picture {
    width: 350px;
    height: 350px;
  }

  .intro .intro-greeting {
    font-size: 70px;
    --typeWriterWidth: 480px;
  }

  .about-div .about-image {
    width: 300px;
    height: 200px;
  }
  .intro .intro-section {
    flex-basis: 600px;
  }
}

@media screen and (max-width: 1900px) {
  .App {
    max-width: 90%;
  }
}